<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Yaaf.WirePlugin.WinFormGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Yaaf.WirePlugin.WinFormGui.Properties.Settings>
            <setting name="WarFileFormat" serializeAs="String">
                <value>{0:HH_mm_ss} on {1}</value>
            </setting>
            <setting name="PublicFileFormat" serializeAs="String">
                <value>{0:HH_mm_ss} on {1}</value>
            </setting>
            <setting name="WarSaveInWire" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublicSaveInWire" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublicFolderFormat" serializeAs="String">
                <value>PublicStuff\{0:yyyy-MM-dd}</value>
            </setting>
            <setting name="upgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </Yaaf.WirePlugin.WinFormGui.Properties.Settings>
    </userSettings>
</configuration>
